
/*

blue: #79ADDC

peach: #FFC09F

yellow: #FFEE93

lemon: #FCF5C7

green: #ADF7B6

*/

/* ---------- Header ---------- */



/* ---------- Main ---------- */

.background {
  height: 100vh;
  background-position: 40% 80%;
  background-repeat: no-repeat;
  background-size: 60%;
  background-image: url('images/cheese-and-money.svg');
  background-color: #FFC09F;
}

.intro-text {
  padding-top: 70px;
  color: white;
  text-align: center;
}

.intro-text h1 {
  font-size: 50px;
}

.intro-text p {
  font-size: 30px;
}

.about, .mindset, .partners, .team {
  height: 100vh;
  display: flex;
  align-items: center;
}

.about {
  background-color: #FFEE93;
}

.mindset {
  background-color: #ADF7B6;
}

.about .row, .mindset .row {
  display: flex;
  align-items: center;
}

.partners {

}

.team {
  background-color: #79ADDC;
  color: white;
}

.team img {
  border-radius: 50%;
}

img {
  width: 100%;
}

@media (max-width: 767px) {
  .row {
    display: block !important;
  }

  img {
    height: calc(100vh / 3);
    width: auto;
    display: block;
    margin: auto;
  }

  footer, footer .text-right {
    text-align: center;
  }
}


/* ---------- Footer ---------- */

footer {
  background-color: #f3f4f5;
}

footer .row {
  margin-top: 20px;
  margin-bottom: 20px;
}

i {
  margin-left: 10px;
}
